.profile {
  max-width: 40%;
  margin: 3.125rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-color: #fff;
}

.avatar {
  display: flex;
  max-width: 30%;
  border-radius: 50%;
  border: 1px solid #e7ecf2;
}

.name {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 40px;
}

.tag,
.location {
  margin: 8px;
  font-size: 24px;
  color: #8a8b8e;
}

.statsList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.statsItem,
.statsItemBordered {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  font-size: 24px;
  text-align: center;
  border-top: 1px solid #d3d5e3;
  background-color: rgba(241, 241, 241, 0.833);
}

.statsItemBordered {
  border-left: 1px solid #d3d5e3;
  border-right: 1px solid #d3d5e3;
}

.label {
  padding-bottom: 8px;
  color: #8a8b8e;
}
.quantity {
  font-weight: bold;
}
