.transactionHistoryTable {
  margin: 50px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
}
.headersRow {
  font-size: 24px;
  text-align: center;
}
.columnHeader {
  width: 30%;
  padding: 16px 80px;
  background-color: #02bbd7;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

.columnHeader:first-child {
  border-radius: 8px 0 0 0;
}
.columnHeader:last-child {
  border-radius: 0 8px 0 0;
}
.valuesRow:last-child .transactionData:first-child {
  border-radius: 0 0 0 8px;
}
.valuesRow:last-child .transactionData:last-child {
  border-radius: 0 0 8px 0;
}

.valuesRow {
  width: 33%;
  color: #8a8b8e;
  font-size: 32px;
  text-align: center;
  text-transform: capitalize;
}

.valuesRow:nth-child(even) {
  background-color: #f2f2f2;
}
